html, body{
	height:100%;
}

.navbar-brand{
	font-size: 1.8em;
}

#topContainer{
	height: 100%;
	width: 100%;
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-position: center;
}

#topRow{
	margin-top: 100px;
	text-align: center;
}

h1{
	font-size: 400%;
	font-weight: bold;
}
p{
	font-weight: bold;
}
.marginTop{
	margin-top: 30px;
}
.centred{
	text-align: center;
}
.title{
	margin-top: 100px;
	font-size: 300%;
}
#footer{
	background-color: #81BEF7;
	padding-top: 70px;
	width: 100%;
}
.marginBottom{
	margin-bottom: 30px;
}
.appStoreImage{
	width: 250px;
}

.social-icon {
	width: 20px;
	height: 20px;
	margin: 0 5px;
}

footer {
	background: black;
	color: white;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
}

footer a:link {
    color: #aaa;
}

footer a:visited {
    color: #aaa;
}

footer a:hover  {
    color: #4cae4c;
}

#alex{
	vertical-align: 25%;
}

/*
		
		#topRow{
			margin-top: 80px;
			text-align: center;
		}

		#footer{
			background-color: #81BEF7;
			padding-top: 70px;
			width: 100%;
		}
		.marginBottom{
			margin-bottom: 30px;
		}
		.appStoreImage{
			width: 250px;
		}
	</style>*/